<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="db_server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="db_username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="db_password" serializeAs="String">
                <value />
            </setting>
            <setting name="apps_folder" serializeAs="String">
                <value>C:\LaporanPenjualan</value>
            </setting>
            <setting name="db_database" serializeAs="String">
                <value>dblaporan_penjualanv2</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
</configuration>
